<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rescueone">
    <!-- 잠금화면 접근권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 파일쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 녹음 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- MessageManager -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DeleteAccountDialog"></activity>

        <service
            android:name=".sos.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
    Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
    Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="RescueONE" />

        <activity
            android:name=".activity.UserRegisterActivity"
            android:noHistory="true"></activity>
        <activity
            android:name=".sos.FakeCallActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity android:name=".sos.EmergencyActivity" />
        <activity android:name=".add_phones.AddPhonesDialog" />
        <activity
            android:name=".permission.PermissionActivity"
            android:noHistory="true" />
        <activity android:name=".add_phones.AddPhonesActivity" />
        <activity android:name=".activity.SelectTypeActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:noHistory="true" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.FindPasswordActivity" />
        <activity android:name=".activity.DeviceRegisterActivity" />
        <activity
            android:name=".activity.AddFirstPhoneActivity"
            android:noHistory="true" />
        <activity android:name=".activity.MainActivity" />

        <service
            android:name=".sos.FakeCallService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".sos.FakeCallReceiver" />
    </application>

</manifest>